services:

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379" 
    restart: unless-stopped

  maildev:
    image: maildev/maildev
    container_name: maildev
    environment:
      MAILDEV_WEB_PORT: 1080 
      MAILDEV_SMTP_PORT: 1025 
    ports:
      - "8080:1080" 
      - "1025:1025"
    restart: unless-stopped